body {
    box-sizing: border-box;
}

p {
    padding: 0px;
    margin: 0px;
}

div {
    width: 50%;
    border: solid 1px #000000;
    margin: 50px auto;
    padding: 24px;
}

button {
    margin-right: 24px;
}